<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Looop through objects</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(ingredient,i) in ingredients">{{ ingredient }}   {{ i}}</li>
        </ul>

        <ul>
            <li v-for="person in persons"> 

                {{person.name}}

                  
              

            </li>
        </ul>

<template v-for="(ingredient,index) in ingredients">

    <h1>{{ingredient}}</h1>
    <p>{{index}}</p>

</template>
    
    </div>

    <script>
        new Vue({
            el: "#app",
            data:{
                ingredients: ["meat",'fruit','cookies'],
                persons:[
                    { name: "max", age: 27, color:"red"},
                    {name:"Anna", age:"dont know", color:"red"}
                ]
            }

        });
    </script>
</body>
</html>